navBar.navBar
	.navBar__container
		.navBar__logotipo-container
			h1.navBar__logotipo Create
				span.navBar__logotipo-punto .
		.navBar__burger-container
			i(class="fas fa-bars navBar__burger")
	.navBar__enlaces-container
		.navBar__enlace-container
			a(href="#" class="navBar__enlace") home
		.navBar__enlace-container
			a(href="#" class="navBar__enlace") Work
		.navBar__enlace-container
			a(href="#" class="navBar__enlace") services
		.navBar__enlace-container
			.navBar__enlace-superior
				a(href="#" class="navBar__enlace") about
				i(class="fas fa-chevron-down navBar__icon-arrow")
			.navBar__enlace-subEnlaces
				.navBar__enlace-container
					a(href="#" class="navBar__enlace") Specialties
				.navBar__enlace-container
					a(href="#" class="navBar__enlace") our team
		.navBar__enlace-container
			a(href="#" class="navBar__enlace") Blog
		.navBar__enlace-container
			a(href="#" class="navBar__enlace") contact