section.headerInfo
	.headerInfo__container
		.headerInfo__labels
			.headerInfo__label-container
				p.headerInfo__label Phone: 
					span.headerInfo__value +1 234 5678 9101
			.headerInfo__label-container
				p.headerInfo__label Email: 
					span.headerInfo__value correo@domain.com
		include ../redes/_redes.pug