<!DOCTYPE html>
html(lang="es")
	include herramientas/_head.pug
	body
		include componentes/headerInfo/_headerInfo.pug
		include componentes/navBar/_navBar.pug
		script(src="js/main.js")
		block contenido