head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	title CreateTemplate - Colorlib
	script(src="https://kit.fontawesome.com/42c004fb79.js" crossorigin="anonymous")
	link(rel="stylesheet", href="estilos/estilos.css")