@mixin media($breakpoint){
	@if($breakpoint == movil-l){
	  @media (min-width: 576px){
			@content;
	  }
	}@else if($breakpoint == tablets){
	  @media (min-width: 768px){
			@content;
	  }
	}@else if($breakpoint == desktops){
	  @media (min-width: 992px){
			@content;
	  }
	}
	@else if($breakpoint == desktop-l){
	  @media (min-width: 1200px){
			@content;
	  }
	}
  }
@mixin container(){
	margin: 0 auto;
	width: 95%;
	max-width: 1200px;
}